@using BookStore.Catalog.Entity;
@using BookStore.Data.EntityDto.AdminDto;
@model AdminItemsDto<StoreEntity>


<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/adminPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <label class="upperLabel">Добро пожаловать, Валиев Антон Дмитриевич</label>
    <div class="outContainer">
        <div class="leftContainer">
            <nav class="modifyList">
                <ul>
                    <li><a asp-controller="Admin" asp-action="GetUsersEditView">Пользователи</a></li>
                    <li><a asp-controller="Admin" asp-action="GetCatalogEditView">Каталог</a></li>
                    <li><a asp-controller="Admin" asp-action="GetNewsEditView">Новости</a></li>
                </ul>
            </nav>
            <label class="upperLabel">@Model.IsCreatedMessage</label>
            <form class="formContainer" method="post">
                <div class="textInput">
                    <label asp-for="ActiveItem.Book.Name">Название:</label>
                    <input type="text" asp-for="ActiveItem.Book.Name" value="@Model.ActiveItem.Book.Name" />
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.Book.Price">Цена:</label>
                    <input type="number" asp-for="ActiveItem.Book.Price" value="@Model.ActiveItem.Book.Price">
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.Book.PageCount">Колличество страниц:</label>
                    <input type="number" asp-for="ActiveItem.Book.PageCount" value="@Model.ActiveItem.Book.PageCount">
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.Book.Genre">Жанр:</label>
                    <input type="text" asp-for="ActiveItem.Book.Genre" value="@Model.ActiveItem.Book.Genre">
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.BookCount">Колличество в наличии:</label>
                    <input type="number" asp-for="ActiveItem.BookCount" value="@Model.ActiveItem.BookCount">
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.Department.Address">Адрес:</label>
                    <input type="text" asp-for="ActiveItem.Department.Address" value="@Model.ActiveItem.Department.Address">
                </div>
                <div class="textInput">
                    <label asp-for="File">Изображение:</label>
                    <input type="file" asp-for="File">
                </div>
                <div class="submitInput">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>

        <div class="rightContainer">
            <a asp-controller="Admin" asp-action="GetCatalogEditView" class="addButton">Добавить</a>
            <nav class="itemsList">
                <ul>
                    @{
                        foreach (var item in Model.Items)
                        {
                            <li>
                                <a asp-controller="Admin" asp-action="SelectingCatalogElement" asp-route-itemId="@item.Id">
                                    @item.Book.Name
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
