@using BookStore.Data.EntityDto.AdminDto;
@model AdminItemsDto<AdminCatalogDto>


<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/adminPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <label class="upperLabel">Добро пожаловать, Валиев Антон Дмитриевич</label>
    <div class="outContainer">
        <div class="leftContainer">
            <nav class="modifyList">
                <ul>
                    <li><a asp-controller="Admin" asp-action="GetUsersEditView">Пользователи</a></li>
                    <li><a asp-controller="Admin" asp-action="GetCatalogEditView">Каталог</a></li>
                    <li><a asp-controller="Admin" asp-action="GetNewsEditView">Новости</a></li>
                </ul>
            </nav>
            <label class="upperLabel">@Model.IsCreatedMessage</label>
            <form asp-action="SubmitCatalogItem" asp-controller="Admin" class="formContainer" method="post" enctype="multipart/form-data">
                <div class="textInput">
                    <label asp-for="ActiveItem.ViewName">Название:</label>
                    <input type="text" asp-for="ActiveItem.ViewName" value="@Model.ActiveItem.ViewName" required />
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.Price">Цена:</label>
                    <input type="number" asp-for="ActiveItem.Price" value="@Model.ActiveItem.Price" required>
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.PageCount">Колличество страниц:</label>
                    <input type="number" asp-for="ActiveItem.PageCount" value="@Model.ActiveItem.PageCount" required>
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.Genre">Жанр:</label>
                    <input type="text" asp-for="ActiveItem.Genre" value="@Model.ActiveItem.Genre" required>
                </div>
                <div class="textInput">
                    <label asp-for="ActiveItem.BookCount">Колличество в наличии:</label>
                    <input type="number" asp-for="ActiveItem.BookCount" value="@Model.ActiveItem.BookCount" required>
                </div>
                <div class="radioInput">
                    <label>Адрес:</label>
                    @foreach (var item in Model.ActiveItem.Addresses)
                    {
                        <input type="radio" asp-for="ActiveItem.Address" checked="@(Model.ActiveItem.Address==item)" value=@item id="@item">
                        <label for="@item">@item</label>
                        <br>
                    }
                </div>
                <div class="textInput">
                    <label asp-for="File">Изображение:</label>
                    <input type="file" asp-for="File">
                </div>
                <div class="submitInput">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>

        <div class="rightContainer">
            <a asp-controller="Admin" asp-action="GetCatalogEditView" class="addButton">Добавить</a>
            <nav class="itemsList">
                <ul>
                    @{
                        foreach (var item in Model.Items)
                        {
                            <li>
                                <div class="linkLine">
                                    <a asp-controller="Admin" asp-action="SelectingCatalogElement" asp-route-itemId="@item.Id" style="float: left">@item.ViewName</a>
                                    <a asp-controller="Admin" asp-action="DeleteCatalog" asp-route-itemId="@item.Id" style="float: right; width:10px">X</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
